<p id="notice"><%= notice %></p>

<h1>Listing Highscores</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Score</th>
    </tr>
  </thead>

  <tbody>
    <col width="130">
    <col width="130">
    <% @highscores.each do |highscore| %>
      <tr>
        <td><%= highscore.name %></td>
        <td><%= highscore.score %></td>
      </tr>
    <% end %>
  </tbody>
</table>
