<div class="container-fluid" ng-app="tetris">
  <div>
    <h1>{{greeting}}, {{recipient}}!</h1>
    <input class="form-control" type="text" placeholder="Enter the name" autofocus ng-model="greeting">
    <input class="form-control" type="text" placeholder="Enter your name" autofocus ng-model="recipient">
  </div>
</div>

